header>ul {
    padding-top: 33px;
}

header>ul>li>a {
    color: #00F0FF;
}

header>ul>li>a:active,
a:visited {
    color: #00F0FF;
}

header>ul>li>a:hover {
    color: #00F0FF;
}

header>ul>li>ul>li>a {
    color: white;
}

header>ul>li>ul>li>a:visited {
    color: white;
}

header>ul>li>ul>li>a:active {
    color: white;
}

.logociano {
    background: url(../imagens/Logos-Extendidos/logo-extendido-ciano.png) no-repeat top center;
    background-size: auto 90px;
    height: 90px;
    width: 490px;
    margin-top: 10px;
}

.nav {
    --bs-nav-link-color: #00F0FF;
    --bs-nav-link-hover-color: #007981;
}

.dropdown-menu {
    --bs-dropdown-bg: #00F0FF;
    --bs-dropdown-link-color: white;
    --bs-dropdown-link-hover-color: #007981;
    --bs-dropdown-link-hover-bg: white;
    --bs-dropdown-link-active-color: white;
    --bs-dropdown-link-active-bg: #007981;
}

@media (max-width: 821px) {
    .logociano {
        background: url(../imagens/Logos-Pequenos/logo-pequeno-ciano.png) no-repeat top center;
        background-size: auto 90px;
        height: 90px;
        width: 120px;
        margin-top: 10px;
    }
}